<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <%- include('./head.ejs') %>
   
    <title>Home Page</title>
</head>
<body>
  <%- include('./nav.ejs') %>
    <h1>Dashboard</h1>
   

  
  <button class="btn btn-primary">submit</button>
  <%- include('./tail.ejs') %>
</body>
</html>